:root {
  --branding-color: #150c3f;
  --primary-color: white;
  --primary-font-family: "Lato-light", "Lato", "sans-serif";
}
body {
  font-family: var(--primary-font-family);
}
header {
  background: var(--branding-color);
  height: 50px;
  color: var(--primary-color);
  font-size: 22px;
  font-weight: 400;
  line-height: 31px;
  font-style: normal;
  padding: 10px;
}
h1,
h2,
p {
  color: var(--branding-color);
  text-align: center;
  font-style: normal;
}
h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 90px;
  padding: 30px;
}
h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
}
.profilePicture {
  display: block;
  margin: 50px auto 0 auto;
  width: 300px;
  border: 1px solid var(--primary-color);
  border-radius: 150px;
}
p {
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  padding: 20px;
}

.ContactInfo {
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  background: var(--branding-color);
  text-align: center;
  color: var(--primary-color);
  padding: 30px;
}
footer {
  text-align: center;
  padding: 50px;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}
.btn-branding-outline {
  color: var(--primary-color);
  background: var(--branding-color);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  font-size: 15px;
  line-height: 23px;
  padding: 12px 25px;
  margin: 20px 10px;
}
.btn-branding-outline:hover {
  color: var(--primary-color);
  background: #38598b;
}
.project-description {
  padding-left: 20px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 16px;
  }
}
.iust-logo {
  margin-top: 500px;
}
.master,
.bachelor,
ul {
  background: #e3e3e3;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
}
ul {
  list-style: none;
}
