:root {
  --branding-color: #150c3f;
  --primary-color: white;
  --secondary-color: #ffe9e3;
  --primary-font-family: "Lato-light", "Lato", "sans-serif";
}
body {
  font-family: var(--primary-font-family);
  line-height: 1.5;
  overflow-x: hidden;
}
header {
  background: var(--branding-color);
  height: 50px;
  color: var(--primary-color);
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  padding: 10px;
}
h1,
h2,
p {
  color: var(--branding-color);
  text-align: center;
  font-style: normal;
}
h1 {
  font-size: 72px;
  font-weight: 700;
  padding: 30px;
}

h2,
.work-content a {
  font-size: 20px;
  font-weight: 400;
  color: var(--branding-color);
}
.profilePicture {
  display: block;
  margin: 50px auto 0 auto;
  width: 300px;
  border: 1px solid var(--primary-color);
  border-radius: 150px;
}
p {
  font-size: 15px;
  font-weight: 400;

  padding: 20px;
}

.ContactInfo {
  font-size: 15px;
  font-weight: 400;
  background: var(--branding-color);
  text-align: center;
  color: var(--primary-color);
  padding: 30px;
}
.ContactInfo a,
footer {
  text-align: center;
  padding: 50px;
  font-size: 14px;
  font-weight: 400;
}
.ContactInfo a {
  color: var(--primary-color);
}
.btn-branding-outline {
  color: var(--primary-color);
  background: var(--branding-color);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  font-size: 15px;
  padding: 12px 25px;
  margin: 20px 10px;
}
.btn-branding-outline:hover {
  color: var(--primary-color);
  background: #38598b;
}
.project-description {
  padding-left: 20px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 14px;
  }
  p {
    font-size: 10px;
  }
}

.iust-logo {
  margin-top: 500px;
}
.master,
.bachelor,
.work-experience {
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
}
ul {
  list-style: none;
}
.work-content a:hover {
  background: var(--secondary-color);
  padding: 10px 20px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  transition: all 100ms ease-in-out;
}
a {
  text-decoration: none;
}
